<launch>
  <param name="/use_sim_time" value="true"/>
  <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find laser_ortho_projector)/demo/demo.vcg"/>
    
  <node pkg="rosbag" type="rosbag" name="rosbag" 
    args="play $(find laser_ortho_projector)/demo/demo.bag --delay=5 --clock"/>
    
  <node pkg="laser_ortho_projector" type="laser_ortho_projector_node" name="laser_ortho_projector" 
    output="screen">
    <param name="use_imu" type="bool" value="false"/>
    <param name="publish_tf" type="bool" value="true"/>
  </node>
  
  <node pkg="tf" type="static_transform_publisher" name="world_to_base" 
    args="1.1 0.3 1.0 0.1 -0.2 0.4 /world /base_link 40" /> 

  <node pkg="tf" type="static_transform_publisher" name="base_to_laser" 
    args="1.3 0.4 0 0 0 0 /base_link /laser 40" />     
    
</launch>

