<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find robot_sim)/urdf/xacro/all_component.urdf.xacro" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_sim)/config/robot_play.rviz" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
    <!-- <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" /> -->

    <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
     <rosparam file="$(find robot_sim)/config/arbotix_car_play.yaml" command="load" />
     <param name="sim" value="true" />
</node>
</launch>
