<launch>
    <node name="kit_perception" pkg="kit_perception" type="sensor_fusion_node" output="screen"
        args="$(find kit_perception)/config/transform.yaml 
		      $(find kit_perception)/test_data/single_obj/localization 
		      $(find kit_perception)/test_data/single_obj/camera 
              $(find kit_perception)/test_data/single_obj/lidar"
    />
</launch>
