<launch>
  <!--起雷达驱动-->
  <include file="$(find rslidar_sdk)/launch/start.launch" />
  <!--起雷达话题转换节点-->
  <node name="rs_converter" pkg="rs_to_velodyne" type="rs_to_velodyne" args="XYZIRT XYZIRT"/>
  <!--起惯导驱动-->
  <include file="$(find sbg_driver)/launch/examples/sbg_ellipseN.launch" />
  <!--起lio_sam包-->
  <include file="$(find lio_sam)/launch/run.launch" />
</launch>
