<launch>
    <node pkg="one_liom" type="rosbagregist" name="rosbagregist" output="screen" />
    <node pkg="one_liom" type="odometry" name="odometry" output="screen" />
    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find one_liom)/rviz_cfg/rviz.rviz" />
    </group>

</launch>
