<launch>
    <arg name = "model_xacro" default = "$(find scout_description)/urdf/scout_v2.xacro" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model_xacro)"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>